.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
}

main {
  flex: 1;
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
}
